.content {
  margin-bottom: 25px;
}

.text-row {
  background-color: #ccc;

  .text-container {
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
    position: relative;
    min-height: 140px;

    .img {
      background: url(../images/sprite.png) -450px -350px transparent;
      height: 120px;
      width: 120px;
      margin-right: 10px;
      position: absolute;
    }

    .text {
      float: left;
      margin-right: 150px;
      margin-left: 130px;
    }

    .cog-container {
      position: absolute;
      right: 100px;
      top: 50%;
      margin-top: -20px; 
    }

    .cog {
      background: url(../images/sprite.png) -587px -48px transparent;
      display: block;
      height: 53px;
      width: 53px;
    }
  }
}

.community {
  margin-left: 100px;
  margin-right: 100px;
}

.alphabet {
  list-style: none;
  padding-left: 0;

  li {
    float: left;

    &.selected {
      border-radius: 50%;
      background-color: #006DB1;

      a {
        color: #fff;
      }
    }

    a {
      display: block;
      height: 20px;
      padding-left: 5px;      
      width: 20px;
    }
  }
}

.top-search {
  background: #f8f8f8;
  height: 55px;
  position: relative;
  width: 100%;

  .menu {
    background: url(../images/sprite.png) -235px 5px transparent;
    height: 38px;
    margin-top: 35px;
    position: absolute;
    width: 51px;
    top: -50%;
  }

  .search {
    background: url(../images/sprite.png) -645px -45px transparent;
    float: right;
    height: 55px;
    width: 55px;
  }
}

.send-email {
  background: url(../images/sprite.png) -290px 0 transparent;
  display: block;
  height: 50px;
  width: 50px;
}

.searchPanel {
  height: 50px;
}

.top-nav {
  height: 100px;
  background-color: #1F2531;

  .buttons-container {
    width: 520px;

    .nav-button {
      color: #fff;
      display: inline-block;
      height: 80px;
      margin: 10px;
      text-align: center;
      vertical-align: middle;
      width: 80px;

      & .user {
        background: url('../images/sprite.png') -300px -50px transparent;
        height: 62px;
        margin: 0 auto;
        width: 50px;
      }

      & .projects {
        background: url('../images/sprite.png') -220px -50px transparent;
        height: 62px;
        margin: 0 auto;      
        width: 62px;
      }

      & .workgroups {
        background: url('../images/sprite.png') -150px -50px transparent;
        height: 62px;
        margin: 0 auto;      
        width: 58px;
      }

      & .roleprofiles {
        background: url('../images/sprite.png') -450px -50px transparent;
        height: 62px;
        margin: 0 auto;      
        width: 62px;
      }

      & .communities {
        background: url('../images/sprite.png') -373px -50px transparent;
        height: 62px;
        margin: 0 auto;   
        width: 66px;
      }
    }
  }
}

.user {
  height: 85px;
  
  .user-badge {
    display: block;
    background: url('../images/sprite.png') -612px -410px #ccc;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    box-sizing: border-box;
    border: 2px solid transparent;      
  }

  .checkbox {
    background: url('../images/sprite.png') -476px -29px transparent;
    height: 12px;
    left: 50%;
    margin-left: -6px;
    top: 53px;
    width: 12px;
  }

  .user-badge-selected {
    background-color: #217F74;
    border: 2px solid #217F74;

    .checkbox {
      background: url('../images/sprite.png') -438px -29px transparent;
    }
  }

  .info-group {
    position: absolute;
    top: 50%;
    margin-top: -22px;
    margin-left: 85px;
    padding: 0 5px;

    .name {
      color: #006DB1;
      display: block;      
    }
    .email{
      display: block;
    } 
  }
}

.button-load {
  background-color: #217F74;
  color: #fff;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}
